<h2>About 99 Cents</h2>

<p>This is an auction site that gets back to the grass roots of what an auction site should be - a simple, easy to use, no clutter way to list your items for sale and to easily view and bid on other people's auctions. Listing is easy and free, just create an account and start listing those items you want to sell. We encourage you to start your auctions at 99 cents as this will generate the most interest and will generally result in a higher sale price.</p>